.qf-container{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    background: var(--color-ui-section-bg);
    border-radius: 2px;
}


.form-group{
    display: grid;
    gap: 5px;
}
.form-toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
