.button {
  padding: 7px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.contained {
  background: var(--color-ui-primary);
}

.outlined {
  background: transparent;
  color: var(--color-ui-text);
  border: 1px solid var(--color-ui-primary);
}
