.home-index{
    display: grid;
    align-items: center;
    justify-content: center;
}

.header-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 250px;
}

.main-wrapper{
    display: grid;
    gap: 20px;
    margin-top: 25px;
    padding: 25px 5px;
    border-top: 0.5px solid var(--color-ui-text);
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px){
    .header-wrapper{
        grid-template-columns: 1fr;
        gap: 25px;
    }
}