.answer-container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px 12px;
  background: var(--color-ui-light-section-bg);
  border-radius: 2px;
}

.answer-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 420px;
  align-items: center;
  justify-content: center;
}

.action-toggle{
    display: flex;
    gap: 10px;
}

.answer-main {
  display: flex;
  padding: 5px 5px;
}

.answer-footer {
  display: flex;
  gap: 10px;
}
