.nav-container{
    width: 100%;
    height: 52px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 250px;
    align-items: center;
    justify-content: center;
    background: var(--color-ui-section-bg);
}

.left-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.nav-toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 800px) {
    .menu-icon{
        display: flex;
    }

    .fill-button, .out-button{
        display: none;
    }
}