.singup-index{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.singup-container{
    width: 420px;
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background: var(--color-ui-section-bg);
    border-radius: 2px;
}

.form-item{
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.form-group{
    display: grid;
    gap: 5px;
}

.textfield{
    padding: 12px 0;
    background: var(--color-ui-h);
}

.input-control{
    border: none;
    background: transparent;
    outline: none;
    text-decoration: none;
    padding: 0 7px;
    width: 100%;

}

.fill-button{
    padding: 12px;
    background: var(--color-ui-primary);
    border-radius: 2px;
}

.link{
    margin-left: 5px;
    margin-right: 2px;
    color: var(--color-ui-primary);
}